@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

    --Menu-color: #87BA91;
    --Home-color: #FFF9F3;
    --sessao-missao-color:#FFF1E2;
    --quem-somos-color:#FFFAF5;
    --footer-color:#87BA91;


--fonte-de-texto: Lato;
--fonte-de-titulo: Fredoka;

}
html {
    scroll-behavior: smooth;
}

body{
    height:100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;

}
h2.titulo{
    color: black;
    font-size: 40px;
    text-align:center;
    font-family: var(--fonte-de-titulo);
    letter-spacing: 1px;

}

header{
    padding: 5px 4%;
    background: var(--Menu-color);

}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo img{
    width: 150px;
    height: 150px;
}
header a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte-de-texto);
    display: inline-block;
    transition: .2s;
    letter-spacing:1.2px;
    padding: 0 40px;

}
.menu-desktop a:hover{
    color: #FFF1E2;
    transform: scale(1.05);

}
.logo a:hover{
    transform: scale(1.05);
}








