@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

    --Menu-color: #87BA91;
    --Home-color: #FFF9F3;
    --sessao-missao-color:#FFF1E2;
    --quem-somos-color:#FFFAF5;
    --footer-color:#87BA91;


--fonte-de-texto: Lato;
--fonte-de-titulo: Fredoka;

}
html {
    scroll-behavior: smooth;
}







